<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>mysite</title>

    <link rel="stylesheet" href="../../assets/common.css">
    <style>
        * {border: 1px solid #000000}
    </style>
</head>
<body>
    <div id="container">
        aaa
        <header>
            <nav>gnb</nav>
        </header>
        <div id="content">컨텐츠
            <aside>aside</aside>
            <main>메인</main>
        </div>
        <footer>푸터</footer>
        aaa
    </div>




</body>
</html>